__pycache__
get_update_lists/kdoc_result.json
hashlists/update_archive_listCN.txt
get_update_lists/kdoc_log.txt
/build/
/dist/
BUILD_MANIFEST.json
/.vscode/
/tests/
/tools/
/docs/
/hd2sdk-aq-edition_updater/
